@import './style/variables';
@import './style/header.scss';
@import './style/first-page';

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}




.py-70 {
  padding: 70px 0;
}

#go-home{
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    transform: scale(1.3);
  }  
}



/* Header end */

/* First Page */


